/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e6e6e6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  
}


.header-bg {
    background-image: url('./assects/macaco.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    height: 400px; /* Altura do header */
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
    padding: 20px;
    border-radius: 8px;
}

.header nav ul{
background-color: #fff;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.5em;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

img{
height: 10px;
width: 10px;

}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.portfolio-item {
    margin-bottom: 40px;
}

.portfolio-item img {
    max-width: 100%;
    height: 50%;
    width: 50%;
    display: block;
    margin-bottom: 50px;
    box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.36);
-webkit-box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.36);
-moz-box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.36);
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}



.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}


